In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("wholesale_distributor_transactions.csv")

In [5]:
credit_transactions = df[df['Credit/Debit'] == 'Credit']
debit_transactions = df[df['Credit/Debit'] == 'Debit']

In [6]:
total_credit_amount = credit_transactions['Amount $'].sum()
total_debit_amount = debit_transactions['Amount $'].sum()
total_credit_amount,total_debit_amount

(105840447.16, 44717067.01)

In [7]:
num_credit_transactions = len(credit_transactions)
num_debit_transactions = len(debit_transactions)

In [8]:
num_credit_transactions,num_debit_transactions

(20979, 9021)

In [9]:
total_amount = df['Amount $'].sum()
total_amount

150557514.17000002

In [10]:
average_transaction_amount = total_amount / (num_credit_transactions + num_debit_transactions)
average_transaction_amount

5018.583805666667

In [11]:
account_transaction_type_totals = df.groupby(['Account'])
account_transaction_type_totals

In [12]:
len(account_transaction_type_totals)

2

In [13]:
ach_deposits = df[df['Transaction Description'] == 'ACH In']
len(ach_deposits)

2983

In [14]:
ach_payments= df[df['Transaction Description'] == 'ACH Out']
len(ach_payments)

3010

In [19]:
cash_deposit = df[df['Transaction Description'] == 'Cash In']
num_cash_deposit = len(cash_deposit)
cash_payment = df[df['Transaction Description'] == 'Cash Out']
num_cash_payment = len(cash_payment)
cash_deposit_total_amount = cash_deposit['Amount $'].sum()
cash_payment_total_amount = cash_payment['Amount $'].sum()
cash_deposit_total_amount, cash_payment_total_amount

(15300254.3, 15216454.02)

In [20]:
wire_in = df[df['Transaction Description'] == 'Domestic Wire In']
num_wire_in = len(wire_in)
wire_out = df[df['Transaction Description'] == 'Domestic Wire Out']
num_wire_out = len(wire_out)
wire_in_total_amount = wire_in['Amount $'].sum()
wire_out_total_amount = wire_out['Amount $'].sum()
wire_in_counterparty_info = wire_in.groupby('Counterparty')['Amount $'].sum()
wire_out_counterparty_info = wire_out.groupby('Counterparty')['Amount $'].sum()

(Counterparty
 3M                     755011.69
 ABB                    707327.51
 Caterpillar            829320.75
 Cummins                780441.78
 Danaher                865154.94
 Deere & Company        650098.90
 Dover Corporation      880903.42
 Eaton                  762189.63
 Emerson Electric       748298.09
 General Electric       705443.02
 Honeywell              864506.52
 ITT Inc.               844129.56
 Illinois Tool Works    850955.34
 Ingersoll Rand         740032.76
 Johnson Controls       849239.96
 Parker-Hannifin        552649.25
 Rockwell Automation    711627.97
 Schneider Electric     789980.49
 Siemens                769157.69
 Xylem                  654744.81
 Name: Amount $, dtype: float64,
 Counterparty
 3M                     651086.41
 ABB                    701574.45
 Caterpillar            716625.47
 Cummins                782076.86
 Danaher                681831.45
 Deere & Company        702161.48
 Dover Corporation      809623.57
 Eaton                  706554.40
 Emerson Electric       718564.92
 General Electric       742627.19
 Honeywell              632102.24
 ITT Inc.               830710.29
 Illinois Tool Works    708682.71
 Ingersoll Rand         776961.15
 Johnson Controls       764481.21
 Parker-Hannifin        809486.46
 Rockwell Automation    723661.37
 Schneider Electric     762558.96
 Siemens                674825.81
 Xylem                  784740.76
 Name: Amount $, dtype: float64)

In [26]:
print(f"\nDomestic Wires: {num_wire_in} transactions totaling ${wire_in_total_amount} primarily from:\n")
for counterparty, amount in wire_in_counterparty_info.items():
    print(f"{counterparty}: {len(wire_in[wire_in['Counterparty'] == counterparty])} transactions, ${amount}\n")

Domestic Wires: 2999 transactions totaling $15311214.079999998 primarily from:

3M: 144 transactions, $755011.69

ABB: 145 transactions, $707327.51

Caterpillar: 164 transactions, $829320.75

Cummins: 154 transactions, $780441.78

Danaher: 167 transactions, $865154.94

Deere & Company: 136 transactions, $650098.9

Dover Corporation: 163 transactions, $880903.42

Eaton: 154 transactions, $762189.63

Emerson Electric: 145 transactions, $748298.09

General Electric: 150 transactions, $705443.02

Honeywell: 161 transactions, $864506.52

ITT Inc.: 155 transactions, $844129.56

Illinois Tool Works: 157 transactions, $850955.34

Ingersoll Rand: 150 transactions, $740032.76

Johnson Controls: 162 transactions, $849239.96

Parker-Hannifin: 125 transactions, $552649.25

Rockwell Automation: 137 transactions, $711627.97

Schneider Electric: 148 transactions, $789980.49

Siemens: 151 transactions, $769157.69

Xylem: 131 transactions, $654744.81

In [33]:
text += f"\nDomestic Payments: {num_wire_out} transactions totaling ${wire_out_total_amount} primarily from:\n"
for counterparty, amount in wire_out_counterparty_info.items():
    text+= f"{counterparty}: {len(wire_out[wire_out['Counterparty'] == counterparty])} transactions, ${amount}\n"

In [37]:
check_in = df[df['Transaction Description'] == 'Check In']
num_check_in = len(check_in)
check_out = df[df['Transaction Description'] == 'Check Out']
num_check_out = len(check_out)
check_in_total_amount = check_in['Amount $'].sum()
check_out_total_amount = check_out['Amount $'].sum()

In [41]:
it_in = df[df['Transaction Description'] == 'Internal Transfer In']
it_out = df[df['Transaction Description'] == 'Internal Transfer Out']
num_it_in = len(it_in)
num_it_out = len(it_out)
it_in_total_amount = it_in['Amount $'].sum()
it_out_total_amount = it_out['Amount $'].sum()

In [42]:
num_it_in, num_it_out

(2947, 2942)

In [43]:
it_in_total_amount,it_out_total_amount

(14898441.41, 14713677.080000002)